# VS 配置
.vs/

# 编译产物
Debug/
Release/
x64/
*.exe
*.obj
*.o
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.iobj
*.ipdb

# VS 用户设置
*.vcxproj.user
*.user

# 临时快照
CopilotSnapshots/

# Claude 配置
.claude/
/OpenGL_Learning/res/model/Cerberus
/OpenGL_Learning/res/model/coolSpaceShip
/OpenGL_Learning/res/texture/hdr/NightSkyHDRI006_4K_HDR.hdr
/OpenGL_Learning/res/model/cool_spaceship
